@layer reset, global, typography;

@layer reset {
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    font-size: 18px;
  }

  img {
    width: 100%;
  }
}

@layer global {
  :root {
    --purple-100: #DBD1FC;
    --purple-500: #7551DC;
    --yellow-100: #F9EEE2;
    --yellow-500: #FFCC6A;
    --white: #FFFFFF;
    --black: #121212;
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 8px
  }
}

@layer typography {
  .text {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
  }

  .text.preset-1 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.3rem;
    letter-spacing: -0.04rem;
  }

  .text.preset-2 {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.5rem;
    letter-spacing: -0.06rem;
  }

  .text.preset-3 {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.3rem;
    letter-spacing: -0.06rem;
  }

  .text.preset-4 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.11rem;
    letter-spacing: 0;
  }
}

@layer {
  .container {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    background-color: #F6F5F6; /*var(--white)*/
    padding: var(--spacing-400) var(--spacing-200);
    gap: var(--spacing-400);
  }

  .section-one, .section-two, .section-three {
    display: grid;
    gap: var(--spacing-400);
  }

  /*  SECTION ONE */
  .section-one > div:first-child {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-500) var(--spacing-400);
    background-color: var(--purple-500);
    border-radius: 10px;
    gap: var(--spacing-300);
    text-align: center;
  }

  .section-one > div:first-child > h1{
    color: var(--white);
  }

  .section-one > div:first-child > h1 span:first-child {
    color: var(--yellow-500);
  }

  .section-one > div:first-child > h1 span:last-child {
    font-style: italic;
  }

  .section-one > div:first-child img {
    width: 10.66rem;
    margin-block-end: var(--spacing-100);
  }

  .section-one > div:first-child img + p {
    color: var(--white);
  }

  .section-one > div:nth-child(2) {
    display: grid;
    row-gap: var(--spacing-400);
  }

  .section-one > div:nth-child(2) > :first-child {
    background-color: var(--white);
    padding: var(--spacing-200);
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    gap: var(--spacing-200);
  }

  .section-one > div:nth-child(2) > :first-child img {
    width: 100%;
  }

  .section-one > div:nth-child(2) > :first-child h2 {
    color: var(--black);
  }

  .section-one > div:nth-child(2) > :last-child {
    background-color: var(--yellow-500);
    padding-inline: var(--spacing-200);
    padding-block: var(--spacing-200) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    border-radius: 10px;
    overflow-y: clip;
  }

  .section-one > div:nth-child(2) > :last-child h2 {
    color: var(--black);
  }

  .section-one > div:nth-child(2) > :last-child img {
    display: block;
    width: 11.55rem;
    margin-bottom: -1.16rem;
  }

  .section-one > div:last-child {
    background-color: var(--purple-100);
    padding: var(--spacing-400);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
  }

  .section-one > div:last-child h2 {
    color: var(--black);
  }

  .section-one > div:last-child p {
    text-align: center;
  }


  /* SECTION TWO */
  .section-two > div:first-child {
    display: flex;
    flex-direction: column-reverse;
    padding: var(--spacing-300);
    background-color: var(--purple-500);
    border-radius: 10px;
    align-items: center;
    gap: var(--spacing-500);
  }

  .section-two > div:first-child img {
    max-width: 12.6rem;
  }


  .section-two > div:first-child h2 {
    color: var(--white);
    text-align: center;
  }

  .section-two > div:last-child {
    background-color: var(--white);
    padding: var(--spacing-300);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    color: var(--black);
  }

  .section-two > div:last-child h2 {
    margin-block-end: 15px;
  }

  .section-two > div:last-child img {
    max-width: 9.94rem;
  }


  /* SECTION THREE */

  .section-three > div:first-child {
    background-color: var(--yellow-100);
    padding: var(--spacing-400);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    color: var(--black);
  }

  .section-three > div:first-child h2 span {
      color: var(--purple-500);
      font-style: italic;
  }

  .section-three > div:first-child img {
    max-width: 10.5rem;
  }

  .section-three > div:last-child {
    background-color: var(--yellow-500);
    padding: var(--spacing-300);
    border-radius: 10px;
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
  }

  .section-three > div:last-child img {
    max-width: 12rem;
  }
}


@media (min-width: 468px) {
  
  @layer typography {
    .text.preset-1 {
      font-size: 3rem;
      line-height: 2.6rem;
      letter-spacing: -0.04rem;
    }

    .text.preset-2 {
      font-size: 2rem;
      line-height: 1.6rem;
      letter-spacing: -0.06rem;
    }

    .text.preset-3 {
      font-size: 1.5rem;
      line-height: 1.4rem;
      letter-spacing: -0.06rem;
    }
  }
  
  @layer {
    .container {
      padding-inline: clamp(16px, 5%, 40px);
      grid-template-columns: 1fr 1fr;
    }

    .section-one {
      grid-column: span 2;
      grid-template-columns: subgrid;
    }

    .section-one > :first-child {
      grid-column: span 2;
      padding: clamp(var(--spacing-300), 4.6%, var(--spacing-400));
    }

    .section-one > :nth-child(2) {
      grid-column: span 2;
      grid-template-columns: subgrid;
    }

    .section-one > :nth-child(2) > :first-child,
    .section-one > :nth-child(2) > :last-child{
      padding: var(--spacing-300);
      max-height: 13.7rem;
    }

    .section-one > :nth-child(2) > :first-child {
      justify-content: space-between;
      align-items: flex-start;
    }

    .section-one > :last-child {
      grid-column: span 2;
      align-items: center;
    }

    .section-one > :last-child > * {
      max-width: 20rem;
    }

    .section-two {
      grid-column: span 2;
    }

    .section-two > div:first-child {
      flex-direction: row-reverse;
      padding: var(--spacing-300);
      justify-content: center;
    }

    .section-two > div:first-child img {
      max-width: 12.6rem;
    }

    .section-two > div:first-child > :first-child {
      max-width: 14.2rem;
    }

    .section-two > div:last-child {
      flex-direction: row;
      justify-content: space-between;
    }

    .section-two > div:last-child > img {
      align-self: center;
    }

    .section-three {
      grid-column: span 2;
      grid-template-columns: subgrid;
    }

    .section-three > * {
      padding: var(--spacing-300);
      justify-content: center;
    }

  }
}

@media (min-width: 800px) {
  @layer typography {
    .text.preset-1 {
      font-size: 3.4rem;
      line-height: 2.8rem;
      letter-spacing: -0.16rem;
    }

    .text.preset-2 {
      font-size: 2.2rem;
      line-height: 2rem;
      letter-spacing: -0.11rem;
    }

    .text.preset-3 {
      font-size: 1.7rem;
      line-height: 1.5rem;
      letter-spacing: -0.11rem;
    }
  }

  @layer  {
    .container {
      padding-inline: clamp(2.2rem, 11%, calc((100vw - 62.2rem)/2));
      padding-block: clamp(3.5rem, 8%, calc((100vh - 49rem)/2)) clamp(3.5rem, 6%, calc((100vh - 49rem)/2));
      grid-template-columns: repeat(4, minmax(14.2rem, 1fr));
      grid-template-rows: 18rem repeat(2, minmax(13.7rem, 1fr));
    }

    .section-one {
      grid-column: 2/-1;
      grid-row: span 2;
      grid-template-rows: subgrid;
    }

    .section-one > div:nth-child(2) > :first-child {
      gap: 22px;
      justify-content: center;
    }

    .section-one > div:first-child {
      justify-content: center;
    }

    .section-one > div:last-child {
      grid-column: 4 / -1;
      grid-row: 1/span 2;
      overflow-x: clip;
    }

    .section-one > div:last-child p {
      text-align: left;
    }

    .section-one > div:last-child img {
      width: 19.8rem;
      margin-left: 90%;
    }

    .section-two {
      grid-column: 2 / -1;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
    }

    .section-two > div:first-child {
      grid-column: 2/span 2;
    }

    .section-two > div:last-child {
      grid-column: 1/span 1;
      grid-row: 2/3;
      flex-direction: column;
    }

    .section-three {
      grid-column: 1/span 1;
      grid-template-rows: subgrid;
      grid-row: 1/-1;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-400);
    }

    .section-three > * {
      flex: 1 1 0;
    }

  }
}